@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin elementoForm() {
    padding: 8px;
    margin-bottom: 16px;
    display: block;
    width: 100%;
}

@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px){
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

body{
    background-color: #eee;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
    color: #fff;
}

.form-container{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 760px;

    h2{
        font-size: pixelParaEm(48px);
        text-align: center;
    }

    form{
        width: 100%;
        max-width: 480px;
        margin-top: 40px;

        label{
            font-weight: bold;
            cursor: pointer;
        }

        input{
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corPrincipal;
        }

        button{
            @include elementoForm();
            background-color: variaveis.$corSecundaria;
            font-size: 18px;
            cursor: pointer;
            font-weight: bold;
            border-color: variaveis.$corDeFundo;
            color: #fff;

            &:hover{
                background-color: darken(variaveis.$corSecundaria, 15%);
            }
        }
    }

}

@media screen and (max-width: variaveis.$mobile){
    .container{
        max-width: 80%;
    }
}

// medida alvo / medida atual do contexto (MA / 16px - 32px / 16px = 2em